<template name="leaderboard">
	<div class="praiseBlog">
		<div class="panel panel-default give-plaudit-container row">
			<div class="pludit-thanks col-xs-12 col-sm-12 col-lg-4">
				<div class="sticky-title">
					<img src="/images/plaudits-logo-white-transparent.png" style="width: 200px;">
					<h2>See your posts and priase below</h2>
				</div>
			</div>
			<div class="plaudit-post-wrapper">
				<div class="pludit-form col-xs-12 col-sm-12 col-lg-8">
					<h3>The Most Plaudited Person is:</h3>
						<ol>
							{{#each mostPraised}}
								<li>{{plauditName}} with ({{plauditLength}})</li>
							{{/each}}
						</ol>
							<p></p>

					<h3>The Person who gave the most Plaudits is:</h3>

						<ol>
							{{#each mostRaised}}
								<li> {{plauditName}} with ({{plauditLength}})</li>
							{{/each}}
						</ol>
				</div>
			</div>
		</div>


	</div>
</template>