@font-face {
  font-family: vodadone;
  src: url("fonts/vodafoneptyrg-webfont.eot");
  src: url("fonts/vodafoneptyrg-webfont.eot?") format("â˜º"), url("fonts/vodafoneptyrg-webfont.woff") format("woff"), url("fonts/vodafoneptyrg-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.stickySend {
    float: left;
    height: 100px;
    position: fixed;
    bottom: 30px;
    width: 90%;
    padding-top: 10px;

}
.newPraisePostForm {
	width: 100%;
	background: white !important;
	input {

	}
}
.container {
	height: 61px;
	// @media (min-width: 768px) {
	// 	height: 80px !important;
	// }
}
body {
	font-family: vodafone;
	overflow: auto;
	-webkit-font-smoothing: antialiased;
	.btn-primary{
		background-color: #11c1f3;
		border-color: white;
		&:hover{
			background-color: #11c1f3;
			border-color: white;
		}
	}
}

h2 {
	font-size: 30px;
	color: black;
	font-family: vodafone;
	-webkit-font-smoothing: antialiased
}
.mainTitle {
	h1 {
		color: #00bdac !important;
		font-size: 20pt !important;
		font-weight: bold;
		@media (max-width: 768px) {
			font-size: 11pt !important;
		}
	}

}
.arrow-down {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	margin: 0 auto;
	border-top: 20px solid white;
}
.icon-bar {
	background-color: #b0b0b0 !important;
}
.navbar-collapse {
	background-color: white !important;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: white !important;
    border: #b0b0b0 !important;
}
.navbar-header {
	@media (max-width: 768px) {
		position: absolute;
		 top: 10px;
	    right: 5px;
	}
}
.navbar {

	border: none !important;

	.navbar-nav {
		@media (min-width: 768px) {
			position: absolute !important;
			right: 20px !important;
			top: 10px !important;
		}
	}
	li {
		border-left: 1px solid #00bdac !important;
		a:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}
	.login-li {
		 padding-top: 10px;
		 padding-right: 10px;
    	padding-left: 10px;
    	border-right: none;
	}
	.non-login-li {
		a{
			font-size: 20px;
			color: #bcbabd !important;
		}
	}
	#login-dropdown-list {
		border-right: none;
		.btn-primary{
			background-color: #11c1f3;
			border-color: white;
		}
		font-size: 20px;
		a {
			color: black;
		}
		.dropdown-menu {
			a {
				color: black;
			}
		}
	}
	.nav .open > a {
		background-color: transparent;
	}
}
.container-fluid {
	-webkit-font-smoothing: antialiased;
	background-color: #f6f6f6;

	.praiseBlog {
		label {
			font-weight: bold;
			width: 100%;
			text-align: left;
		}
		input {
			background-color: #00bdac;
			color: white !important;
			border: 1px solid white;
			border-radius: 20px;
			font-size: 20px;
			padding: 5px;

		}
		select {
			border-radius: 4px;
		}
		textarea {
			border-radius: 20px;
			height: 60px;
			padding: 8px;
		}
		margin-top: 30px;
	}

	.praisePost {
		text-align: left;
		.voda-avatar {
			float: left;
		}
		.praisePostUser {
			color: #E60000;
			span {
				color: #848482;
			}
		}
		.praisePostValue {
			color: black;
		}
	}
	.welcome {
		margin-top: 100px;
	}
}
.navbar-collapse {
	overflow: visible !important;
}
.navbar {
	background-color: #ffffff;
	color:black;
	text-align: center;
}
@media (max-width: 768px) {
	.give-plaudit-container {
		background: #E60000 !important;
	}
	.pludit-thanks {
		min-height: 200px;
	}
}
.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  &:before{
	  font-size: 20px;
	  line-height: 1;
	  opacity: .75;
	  color: black;
	  -webkit-font-smoothing: antialiased;
  }
}
.slick-next {
	left: -25px;
	&:before {
		content: "prev";
	}
}
.slick-prev {
	right: -25px;
	&:before {
		content: "next";
	}
}
/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#menu-toggle {

	position: absolute;
	top: 62px;
	left: 12px;
}

#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 250px;
}



#page-content-wrapper {
	width: 100%;
	padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -250px;
}


/* Slider */

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;

	&:focus {
		outline: none;
	}

	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}

	.slick-loading & {
		visibility: hidden;
	}
}
.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	[dir="rtl"] & {
		float: right;
	}
	img {
		display: block;
	}
	&.slick-loading img {
		display: none;
	}

	display: none;

	&.dragging img {
		pointer-events: none;
	}

	.slick-initialized & {
		display: block;
	}

	.slick-loading & {
		visibility: hidden;
	}

	.slick-vertical & {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
}


$lgreen:#51e980;
$blue:#11c1f3;
$lred:#E57373;

.chat-box {
	float:left;
	width:100%;
	height: 60vh;
	max-height: 60vh;
	border-radius:0 10px 10px 0;
	overflow-y: auto;
	&.presenter {
		height: 90vh !important;
		max-height: 90vh;
	    margin-top: 80px !important;
		@media (min-width: 768px) {
			.praisePost {
				text-align: center;
				width: 30%;
				float: left;
				margin-left: 50px;
			}
			ul {
				li {
					min-height: 300px;
					div {
						padding: 10px !important;
						font-size: 18px !important;
						min-height: 200px;
						display: flex;
						justify-content: center;
						flex-direction: column;
						text-align: center;
					}
				}
			}
		}
	}

	ul {
		list-style-type:none;
		padding:0;
		display:block;


		li {
			.title {
				color:#11c1f3;
				text-align:center;
				border-bottom:1px solid #11c1f3;
				margin-bottom:3px;
			}

			&>div {
				margin-bottom: 20px;
				background: #d0cccc !important;
				border-radius: 10px !important;
				.img {
					display:none;
				}
				.name {
					display:none;
				}
				.text {

					div {
						padding: 10px;
						color: white !important;
						font-size: 16pt;
						@media (max-width: 768px) {
							font-size: 10pt;
						}
					}
				}
			}

			.you {
				.name {
					padding:5px 25px 5px 50px;
					margin-left:-30px;
					border-radius:0 15px 0 0;
				}
				.text {
					div {
						margin-left:6px;
						border-radius:0 10px 10px 10px;
						text-align:left;
					}
				}
			}

		}
	}

}



